@-webkit-keyframes sk-cubemove {
	25% {
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
		-moz-transform: translateX(42px) rotate(-90deg) scale(0.5);
		-ms-transform: translateX(42px) rotate(-90deg) scale(0.5);
		-o-transform: translateX(42px) rotate(-90deg) scale(0.5);
		transform: translateX(42px) rotate(-90deg) scale(0.5);
	}

	50% {
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
		-moz-transform: translateX(42px) translateY(42px) rotate(-180deg);
		-ms-transform: translateX(42px) translateY(42px) rotate(-180deg);
		-o-transform: translateX(42px) translateY(42px) rotate(-180deg);
		transform: translateX(42px) translateY(42px) rotate(-180deg);
	}

	75% {
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-moz-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-ms-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-o-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	}

	100% {
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

@keyframes sk-cubemove {
	25% {
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
		-moz-transform: translateX(42px) rotate(-90deg) scale(0.5);
		-ms-transform: translateX(42px) rotate(-90deg) scale(0.5);
		-o-transform: translateX(42px) rotate(-90deg) scale(0.5);
		transform: translateX(42px) rotate(-90deg) scale(0.5);
	}

	50% {
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
		-moz-transform: translateX(42px) translateY(42px) rotate(-180deg);
		-ms-transform: translateX(42px) translateY(42px) rotate(-180deg);
		-o-transform: translateX(42px) translateY(42px) rotate(-180deg);
		transform: translateX(42px) translateY(42px) rotate(-180deg);
	}

	50.1% {
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
		-moz-transform: translateX(42px) translateY(42px) rotate(-180deg);
		-ms-transform: translateX(42px) translateY(42px) rotate(-180deg);
		-o-transform: translateX(42px) translateY(42px) rotate(-180deg);
		transform: translateX(42px) translateY(42px) rotate(-180deg);
	}

	75% {
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-moz-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-ms-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-o-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	}

	100% {
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}