/* Buttons Atom Styles */
.btn {
	color: #fff;
	background-color: #1c3390;
	border: 1px solid #1c3390;
	border-radius: 0;
	margin-bottom: 4px;
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-ms-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}

.btn:focus {
	box-shadow: none;
}

.btn:hover {
	color: #1c3390;
	background-color: transparent;
}

.btn.btn--main {
	padding: 12px 35px;
}